{% extends 'templates/app.twig' %}
{% block createApp %}
    <p></p>
{% endblock %}
{% block content %}
    <br>
<div class="container">

<form class="form-horizontal " method="post" action="/apps/createApp" id="form">
    <fieldset>

        <!-- Form Name -->
        <legend>Database Configuration</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Name *</label>
            <div class="col-md-4">
                <input id="textinput" name="name" type="text" placeholder="Name of App" class="form-control input-md" pattern="[A-Za-z]+" required>

            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">DBName *</label>
            <div class="col-md-4">
                <input id="textinput" name="dbname" type="text" placeholder="DBName" class="form-control input-md" required>

            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Login *</label>
            <div class="col-md-4">
                <input id="textinput" name="login" type="text" placeholder="Login" class="form-control input-md" required>

            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Password *</label>
            <div class="col-md-4">
                <input id="textinput" name="password" type="text" placeholder="Password" class="form-control input-md">

            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">IP *</label>
            <div class="col-md-4">
                <input id="textinput" name="ip" type="text" placeholder="IP" class="form-control input-md" required>

            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Query *</label>
            <div class="col-md-4">
                <input id="textinput" name="query" type="text" placeholder="Query" class="form-control input-md" required>

            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Port *</label>
            <div class="col-md-4">
                <input id="textinput" name="port" type="text" placeholder="Port" class="form-control input-md" required>

            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Email *</label>
            <div class="col-md-4">
                <input id="textinput" name="email" type="email" placeholder="Email" class="form-control input-md" required>

            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Type of DB *</label>
            <div class="col-md-4">
                <select name="type" class="form-control">
                    <option value="oci">Oracle</option>
                    <option value="mysql">Mysql</option>
                </select>

            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Username *</label>
            <div class="col-md-4">
                <input id="textinput" name="username" type="text" placeholder="Username" class="form-control input-md" required>

            </div>
        </div>
        <!-- Text input-->
        <legend>Application Fields</legend>
        <div id="result"></div>
        {% for i in 2..10 %}
            <div class="form-group">

                <div class="col-md-4 col-md-offset-2">
                    <input id="textinput" name="fieldName[]" type="text" placeholder="FiledName {{ i }}" class="form-control input-md">

                </div>
                <div class="col-md-4">
                    <input id="textinput" name="fieldValue[]" type="text" placeholder="FieldValue {{ i }}" class="form-control input-md">

                </div>

            </div>
        {% endfor %}

        <!-- Button -->
        <div class="form-group">

            <div class="text-center">
                <button id="singlebutton" type="button"   class="btn btn-primary" >Send</button>

            </div>

        </div>

    </fieldset>
    {{ csrf.field | raw }}
</form>
</div>
    <script>
        $( document ).ready(function() {
            var form = $("form");
        $('#singlebutton').click(function(e) { // catch the form's submit event


            $.ajax({ // create an AJAX call...
                data: form.serialize(), // get the form data
                type: form.attr('method'), // GET or POST
                url: form.attr('action'), // the file to call
                success: function(response) { // on success..
                    var res=$.trim(response);
                    if(res===""){
window.location.replace("/apps")
                    }else{
                        $("#result").attr('class', 'alert alert-danger  alert-dismissible fade in');
                        $("#result").html(response+'<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>');
                        setTimeout( function() {
                            // Code to do stuff after 300ms
                            $("#result").removeClass("alert alert-danger");
                            $("#result").html("");
                        }, 2000);
                    }

                }
            });

            e.preventDefault();
        });

        });
        /*
        var id =1;
        function  addField(){
           var prev=id;
            id=id+1;
            if(id>10) {
                alert('you cannot insert more than 10 fields');
            }else{
                $( "<div class='form-group' id='field-"+id+"'> <div class='col-md-4 col-md-offset-2'> <input id='textinput' name='fieldName[]' type='text' placeholder='FiledName "+id+"' class='form-control input-md'> </div> <div class='col-md-4'> <input id='textinput' name='fieldValue[]' type='text' placeholder='FieldValue "+id+"' class='form-control input-md'> </div><div><button type='button' class='btn btn-danger btn-circle' onclick='removeField()' id='"+id+"'><i class='fa fa-minus'></i></button></div> </div>" )
                    .insertAfter($( "#field-" +prev)  );
            }

        }
        function removeField() {
            $( "#field-"+this.id ).remove();
            id=id-1;
        }*/
    </script>
{% endblock %}