<!DOCTYPE HTML>
<html>
<head>
    <title>Ooredoo Tunisie</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <style type="text/css">
        @font-face {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
        }
        html {
            background: url(https://38.media.tumblr.com/546c0cd48d71f210f9b67a389003790d/tumblr_neq0yw9rMA1tm16jjo1_500.gif) no-repeat center center fixed;
            background-size: cover;
            font-family: 'Roboto', sans-serif;
        }
        h1 {
            font-size: 16em;
            margin: 0.2em 0.5em;
            color: rgba(255, 255, 255, 0.7);
            margin-bottom: 0px;
        }
        h2 {
            font-size: 1.7em;
            margin: 0.2em 0.5em;
            color: rgba(255, 255, 255, 0.6);
        }
        h2 .material-icons {
            font-size: 1.5em;
            position: relative;
            top: 10px;
        }
        div.error {
            position: absolute;
            top: 30%;
            margin-top: -8em;
            width: 100%;
            text-align: center;
        }
    </style>
</head>


<body>

<div class="error">
    <h1>405 </h1>
    <h2>The request method is not allowed</h2>
    <h2><a href="{{ path_for('auth.signin') }}" style="color: grey;">Go Back to Home</a></h2>
</div>



</body>
</html>
